QWidget#background {background-color: black}
QLineEdit {background-color: black ; border: 2px solid red ; border-radius: 10px ; font-size: 25px ; color: red}
QLabel {font-size: 80px ; color: red ; background-color: black ; border: 2px solid red ; border-radius: 10px}