QWidget#background {border-image: url(./qss-nb/background) 0 0 0 0 stretch stretch}
QLineEdit {background-color: #9C59D1 ; border: 2px solid black ; border-radius: 10px ; font-size: 25px ; color: black}
QLabel {font-size: 80px ; color: black ; background-color: #9C59D1 ; border: 2px solid black ; border-radius: 10px}